
@{
    if (ViewData["error"] != null)
    {
        <div class="alert alert-danger">@(ViewData["error"])</div>
    }
    else if (ViewData["success"] != null)
    {
        <div class="alert alert-success">@(ViewData["success"])</div>
    }

    <h3>Add a patient record</h3>
    <form>
        <fieldset>
            <legend>Biographical information</legend>
            <div class="form-group">
                <label for="patientName">Patient name:</label>
                <input type="text" name="patientName" id="patientName" placeholder="Patient's name" />
            </div>
        </fieldset>
        <fieldset>
            <legend>Immunizations</legend>
            @{
                if (ViewData["Immunizations"] != null)
                {
                    @*Start a new row at the beginning - raw HTML output using IHtmlHelper
                        ref: https://stackoverflow.com/questions/40911599/render-html-code-with-razor
                        Don't forget the @ sign to tell Razor to output result to HTML
                    *@

                    @Html.Raw("<div class=\"form-row\">");
                    foreach (Immunization immunization in (List<Immunization>)ViewData["Immunizations"])
                    {
                        @*Start a new row on every 3rd entry (3 columns per row)*@
                        bool newRow = immunization.ImmunizationID % 3 == 0;

                        @*Place checkboxes in a 3 column layout
                            ref:https://getbootstrap.com/docs/4.3/components/forms/#form-row
                        *@

                        <div class="checkbox col-md-4">
                            <input type="checkbox" value=@immunization.ImmunizationID name="immunizationID" />
                            <label for=@("imm" + immunization.ImmunizationID)>@immunization.ImmunizationDesc</label>
                        </div>

                        @*If true, close last row, start a new one*@
                        @if (newRow)@Html.Raw("</div><div class=\"form-row\">");
                    }
                }
            }
            }
        </fieldset>
        <input type="submit" value="Add patient" />
    </form>
}